{% extends "layouts/layout.html" %}
{% block sidebar %}
<div class="ephemera">
  <section class="news">
    <h2>
      <a href="/news/">News</a>
      <a href="/feed.json" class="feed">
        <img src="/img/octicons/rss.svg">
      </a>
    </h2>
    {% for item in news | limit(19) -%}
    <article>
      <time datetime="{{ item.date | date("YYYY-MM-DD") }}">
        {{ item.date | date("MMM DD, YYYY") }}
      </time>
      {% if item.kind == 'post' %}
      <span class="author">by {{ item.author }}</span>
      <p class="post">
        <a href="{{ item.link }}">
          {{ item.title }}
        </a>
      </p>
      {% else %}
      {{ item.contents | safe | trim }}
      {% endif %}
    </article>
    {% endfor %}
  </section>

  <section class="links">
    <h2>Links</h2>
    <ul>
        <li><a href="https://github.com/cucapra">GitHub</a></li>
        <li><a href="/news/">news archive</a></li>
        <li><a href="/ugresearch.html">undergrad research</a></li>
        <li><a href="/styleguide/">style guide</a></li>
        <li><a href="/private/">internal</a></li>
    </ul>
  </section>
</div>
{% endblock %}
