<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
      {%- if title == "Home" -%}
      Capra
      {%- else -%}
      Capra:{{ " " }}
      {%- if collections[collection].metadata.name -%}
      {{ collections[collection].metadata.name }}:{{ " " }}
      {%- endif -%}
      {{ title }}
      {%- endif -%}
  </title>

  <link href="/style.css" rel="stylesheet">
  {% if serve -%}
  <script src="http://localhost:35729/livereload.js"></script>
  {%- endif %}
</head>
<body>
  <header>
    <nav>
      <h1>
        <a href="/">Capra</a>
      </h1>
      {% if collections[collection].metadata.name -%}
      <p>
        <a href="{{ collections[collection].metadata.link }}">
          {{ collections[collection].metadata.name }}
        </a>
      </p>
      {%- elseif section -%}
      <p>
        {{ section }}
      </p>
      {%- endif %}
    </nav>
  </header>
  <main>
  {{ contents | safe }}
  </main>
</body>
</html>
