<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Capra: {{ title }}</title>

  <link href="/style.css" rel="stylesheet">
  {% if serve %}
  <script src="http://localhost:35729/livereload.js"></script>
  {% endif %}
</head>
<body>
  <header>
    <nav>
      <h1>
        <a href="/">Capra</a>
      </h1>
      {% for page in pages %}
      {% if page.title !== 'Home' %}
      <p><a href="{{ page.link }}">{{ page.title }}</a></p>
      {% endif %}
      {% endfor %}
    </nav>
  </header>
  <main>
  {{ contents | safe }}
  </main>
</body>
</html>
