---
title: "News Archive"
layout: layout.html.njk
section: News
---
Subscribe to updates via <a href="/feed.json">JSON Feed</a>
or <a href="/rss.xml">RSS</a>.

<section class="news">
{% for item in news -%}
<article>
  <time datetime="{{ item.date | date("YYYY-MM-DD") }}">
    {{ item.date | date("MMM DD, YYYY") }}
  </time>
  {% if item.kind == 'post' %}
  <span class="author">by {{ item.author }}</span>
  <p class="post">
    <a href="{{ item.link }}">
      {{ item.title }}
    </a>
  </p>
  {% else %}
  {{ item.contents | safe | trim }}
  {% endif %}
</article>
{% endfor %}
</section>
